/.vs/
/bin/
/out/
/tests/.vs/
/tests/bin/
/tests/out/
/gui/resource.h
/gui/Info.plist
/gui/.vs/
/gui/bin/
/gui/out/
/html/
/CMakeSettings.json
/doxyerrors.txt
/docs/html
/docs/manual/.quarto
/docs/manual/book/site_libs
/docs/manual/*.tex
/docs/manual/issues/i18n-issues_files/
/docs/manual/book/issues/i18n-issues_files/
/docs/manual/index.ptc
/installers/windows/icons.isl
/installers/windows/quneiform.iss
/installers/windows/setup.isl
/installers/windows/output
/installers/windows/release
